<script setup lang="ts">
defineProps({
    label: {
        type: String,
        default: "",
    },
});
</script>

<template>
    <div class="flex items-center">
        <input
            id="checkbox"
            type="checkbox"
            class="outline-none focus:outline-none"
        />
        <label for="checkbox" class="ml-3 text-gray-500" v-if="label">{{ label }}</label>
    </div>
</template>
