<script setup lang="ts">
defineProps({
    text: {
        type: String,
        default: "",
    },
    disabled: {
        type: Boolean,
        default: false,
    },
});
</script>

<template>
    <button class="border rounded px-9 py-3 bg-black text-white disabled:opacity-50" :disabled="disabled">{{ text }}</button>
</template>
