<script setup lang="ts">
import Input from "@/components/Input/Input.vue";
import InputCheckbox from "@/components/Input/InputCheckbox.vue";
import Button from "@/components/Button/Button.vue";
</script>

<template>
    <div class="mx-24 my-12">
        <div class="text-center text-4xl">{{ "Create an Account" }}</div>
        <div class="text-center text-gray-500 text-xl mb-12">
            {{ "....description...." }}
        </div>
        <div class="grid grid-cols-2 gap-x-20 gap-y-10 mb-5">
            <div class="grid grid-cols-1 gap-x-20 gap-y-10">
                <div class="text-xl font-semibold">{{ "Create a Password" }}</div>
                <Input type="email" placeholder="Email" />
                <Input type="password" placeholder="Password" />
                <Input type="password" placeholder="Confirm Password" />
            </div>

            <div class="grid grid-cols-1 gap-x-20 gap-y-10">
                <div class="text-xl font-semibold">{{ "Personal Information" }}</div>
                <Input type="text" placeholder="First name" />
                <Input type="text" placeholder="Last name" />
                <Input type="phone" placeholder="Mobile Number" />
            </div>

            <InputCheckbox label="213123" />
        </div>

        <div class="flex justify-center">
            <Button text="Create an Account" />
        </div>
    </div>
</template>
