<script setup lang="ts"></script>

<template>
    <header class="border-b-2 py-3 px-20">
        <nav class="flex items-center justify-between">
            <img src="./assets/images/logo.png" width="86" alt="logo" />
            <div>
                <RouterLink class="border rounded p-2" to="/create-account">
                    Create Account
                </RouterLink>
            </div>
        </nav>
    </header>

    <div class="container mx-auto">
        <RouterView />
    </div>
</template>
